

        body {
            background-color: #000;
        }   
        .nav-div ul{
            
            list-style-type: none;
            
            margin: 20px;
            padding: 0;
        }

        .nav-div ul li{
            display: inline;
            padding: 20px;
            float: left;
        }
        .nav-div ul li a{
            text-decoration: none;
            color: #fff;
        }
        .pagesnav{
            color: white;
        }
        .pagesnav:hover{
            color: yellow;
            background-color: #000;
        }
        .expt-title{
            color: rgb(105, 105, 248);
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .content{
            color: white;
            
            /* font-size: 20px;
            font-weight: bold; */
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .content p{
            color: white;
            font-size: 15px;
            font-weight: 200;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
        .content h2{
            color: white;
            
            font-size: 20px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .content img{
            width: 50%;
            height: 50%;
            margin: 100px;
            display: block;

        }
